coverage
**/branch/
temp/
test/
template.json
packer_cache
output-*
.vagrant
.vscode
.idea
*.snap
*.deb
*.log
*.box
copy.sh
stretch/hyperv/branch
stretch/libvirt/branch
stretch/parallels/branch
stretch/virtualbox/branch
stretch/vmware/branch

xenial/hyperv/branch
xenial/libvirt/branch
xenial/parallels/branch
xenial/virtualbox/branch
xenial/vmware/branch
