# Account setup
#d-i passwd/root-password password ubuntai
#d-i passwd/root-password-again password ubuntai
#d-i passwd/root-login boolean true

d-i passwd/root-login boolean false
d-i passwd/user-fullname string Subutai User
d-i passwd/username string subutai
d-i passwd/user-password password ubuntai
d-i passwd/user-password-again password ubuntai
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true

d-i keyboard-configuration/modelcode SKIP
d-i keyboard-configuration/layout USA
d-i keyboard-configuration/variant USA
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select

# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

# Network Conifgurations
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname subutai
d-i netcfg/get_domain vm

# Partitioning
#d-i partman-auto/method string lvm
#d-i partman-lvm/device_remove_lvm boolean true
#d-i partman-md/device_remove_md boolean true
#d-i partman-lvm/confirm boolean true
#d-i partman-lvm/confirm_nooverwrite boolean true
#d-i partman/choose_partition select finish
#d-i partman-auto-lvm/guided_size string max
#d-i partman-auto/choose_recipe select atomic
#d-i partman/default_filesystem string ext3
#d-i partman/confirm_wirte_new_label boolean true
#d-i partman/confirm boolean true
#d-i partman/confirm_nooverwrite boolean true

# Select the first disk to use for OS logical volumes.
#
# Creates LVM logical volumes from 'main' volume group
# ----------------------------------------------------
#
# /usr
# /usr/local
# /boot
# /var
# /home
# /srv
# /opt
# /opt/local
# swap
#

d-i   partman-auto/disk                  string   /dev/sda
d-i   partman-auto/method                string   lvm
d-i   partman-auto-lvm/guided_size       string   max
d-i   partman-auto/purge_lvm_from_device boolean  true
d-i   partman-lvm/device_remove_lvm      boolean  true
d-i   partman-lvm/confirm                boolean  true
d-i   partman-lvm/confirm_nooverwrite    boolean  true
d-i   partman-auto/confirm               boolean  true
d-i   partman-auto/expert_recipe         string                 \
                                                                \
1024 5000 1024 ext3                                             \
        $primary{ }                                             \
        $bootable{ }                                            \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext3 }                                      \
        label{ boot }                                           \
        mountpoint{ /boot }                                     \
.                                                               \
                                                                \
1000 1000 1400000000 ext4                                       \
        $defaultignore{ }                                       \
        $primary{ }                                             \
        method{ lvm }                                           \
        device{ /dev/sda }                                      \
        vg_name{ main }                                         \
.                                                               \
                                                                \
1024 1000 100% linux-swap                                       \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ swap }                                         \
        in_vg{ main }                                           \
        method{ swap }                                          \
        format{ }                                               \
.                                                               \
                                                                \
2048 1000 4096 ext4                                             \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ root }                                         \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext4 }                                      \
        mountpoint{ / }                                         \
.                                                               \
                                                                \
8192 1000 8192 ext4                                            \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ var }                                          \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext4 }                                      \
        mountpoint{ /var }                                      \
.                                                               \
                                                                \
8192 1000 8192 ext4                                             \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ usr }                                          \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext4 }                                      \
        mountpoint{ /usr }                                      \
.                                                               \
                                                                \
4096 1000 32768 ext4                                             \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ opt }                                          \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext4 }                                      \
        mountpoint{ /opt }                                      \
.                                                               \
                                                                \
2048 1000 4096 ext4                                             \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ home }                                         \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        use_filesystem{ }                                       \
        filesystem{ ext4 }                                      \
        mountpoint{ /home }                                     \
.                                                               \
                                                                \
1024 1000 2048 ext4                                             \
        $defaultignore{ }                                       \
        $lvmok{ }                                               \
        lv_name{ zfs }                                        \
        in_vg{ main }                                           \
        method{ format }                                        \
        format{ }                                               \
        filesystem{ zfs }                                     \
.
d-i   partman/confirm_write_new_label  boolean true
d-i   partman-partitioning/confirm_write_new_label boolean true
d-i   partman/choose_partition select finish
d-i   partman/confirm boolean true
d-i   partman/confirm_nooverwrite boolean true

# from boxcutter
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/confirm_nooverwrite boolean true

# silences unmounted partition
d-i partman-basicmethods/method_only boolean false

# Scan another CD or DVD?
apt-cdrom-setup apt-setup/cdrom/set-first boolean false

# Detected proxy live repo proxy so using apt-cache-ng
d-i mirror/country string manual
d-i mirror/http/hostname string newton.lab.optdyn.com:3142
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string
d-i mirror/http/mirror select http://newton.lab.optdyn.com:3142

# Don't send reports back to the project
popularity-contest popularity-contest/participate boolean false
# Package selection
tasksel tasksel/first multiselect standard
# Automatically install grub to the MBR
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default
# Turn off last message about the install being complete
d-i finish-install/reboot_in_progress note
d-i pkgsel/update-policy select unattended-upgrades

d-i pkgsel/update-policy select none
d-i pkgsel/include string openssh-server ntp curl net-tools dnsutils virt-what

# This first command is run as early as possible, just after preseeding is read.
# Prevent packaged version of VirtualBox Guest Additions being installed:
# d-i preseed/early_command string sed -i \
#   '/in-target/idiscover(){/sbin/discover|grep -v VirtualBox;}' \
#   /usr/lib/pre-pkgsel.d/20install-hwpackages
