[Unit]
Description="Fixes vagrant from changing interfaces file and removing routes"
Before=network.target

[Service]
Type=simple
ExecStart="/etc/network/fix-vagrant"

[Install]
WantedBy=multi-user.target
